Flowforuploadingaccelerometerdata_20250804095950/Microsoft.Flow/flows/6df8e602-4337-4175-86f9-c92ba304dbd3/definition.json
{"name":"45ef0fa9-8bda-4bc6-94d2-1004d9c803e3","id":"/providers/Microsoft.Flow/flows/45ef0fa9-8bda-4bc6-94d2-1004d9c803e3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Upload Accelerometer Data","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"04758402-5f19-408f-baa9-ee1e8d163d9c","type":"User","tenantId":"b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-03T13:13:02.5144618Z","connectionKeySavedTimeKey":"2025-08-01T13:53:19.2165798Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"array","items":{"type":"object","properties":{"sessionID":{"type":"string"},"id":{"type":"string"},"userID":{"type":"string"},"date":{"type":"string"},"timeStamp":{"type":"string"},"xAxis":{"type":"string"},"yAxis":{"type":"string"},"zAxis":{"type":"string"},"activity":{"type":"string"}},"required":["sessionID","id","userID","date","timeStamp","xAxis","yAxis","zAxis","activity"]}},"triggerAuthenticationType":"All"}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"array","items":{"type":"object","properties":{"sessionID":{"type":"string"},"id":{"type":"string"},"userID":{"type":"string"},"date":{"type":"string"},"timeStamp":{"type":"string"},"xAxis":{"type":"string"},"yAxis":{"type":"string"},"zAxis":{"type":"string"},"activity":{"type":"string"}},"required":["sessionID","id","userID","date","timeStamp","xAxis","yAxis","zAxis","activity"]}}}},"For_each":{"foreach":"@outputs('Parse_JSON')['body']","actions":{"Add_a_row_into_a_table":{"metadata":{"01H7E5DLIE33PBESRFCFAZDP6NQDJHTQNZ":"/AutumProject/AccelerometerData.xlsx","tableId":"{C2FDFF44-F6CA-4568-BD3B-B916F8D89923}","01MC6FT3YSR6LDVNK3KZDLXTFYE3HMEOUT":"/Summer Project Machine Learning/DailyData/AccelerometerData.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!64sFJeYZtkKfmSYnktSand-ih_Iebo1NsiLbbSBrYDrsm-T1LMCySp42aYa3-WwS","file":"01MC6FT3YSR6LDVNK3KZDLXTFYE3HMEOUT","table":"{C2FDFF44-F6CA-4568-BD3B-B916F8D89923}","item/SessionID":"@item()['sessionID']","item/DeviceID":"@item()['id']","item/UserID":"@item()['userID']","item/Date":"@item()['date']","item/TimeStamp":"@item()['timeStamp']","item/X":"@item()['xAxis']","item/Y":"@item()['yAxis']","item/Z":"@item()['zAxis']","item/Activity":"@item()['activity']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness-1","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}},"description":""},"connectionReferences":{"shared_excelonlinebusiness-1":{"connectionName":"shared-excelonlinebu-737c9ea2-14b3-4c80-a8da-8bed9bebb5cf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}